:root{
    --scratch-purple: #855cd6;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display:flex;
}

#content{
    min-width: 300px;
    width:80%;
    display:block;
    margin:auto;
}

#projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.project{
    width:210px;
    padding:20px;
    border: solid black 2px;
    overflow: hidden;
    border-radius: 10px;
}
.projectImg{
    width: 210px;
}
.projectDevPfp{
    width: 32px;
}

/* TODO: Fix the ellipsis when text overflows not working */
.projectName{
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.projectDevName{
    width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

button{
    all: unset;
    background-color: var(--scratch-purple);
    color: white;
    padding: 20px 50px;
    font-size: 1.5em;
    border-radius:20px;
    text-align: center;
    width:90%;
    cursor: pointer;
}
button:hover{
    filter: brightness(120%);
}